# ==========================================
# AMBIENTE DE DESENVOLVIMENTO LOCAL
# Copie este arquivo para .env e preencha seus valores
# ==========================================

PORT=3000
JWT_SECRET=segredoDoido
JWT_EXPIRES_IN=2h

# Banco de dados local (CockroachDB)
DATABASE_URL="postgresql://root@localhost:26257/MonitoriaProjeto?schema=public&sslmode=disable&options=-c%20create_table_with_schema_locked=off"

# ==========================================
# SENHA DO ADMIN (SEED)
# ==========================================
# A senha abaixo é para ambiente de desenvolvimento apenas.
# AdminDev123 e devpepper123 
ADMIN_PASSWORD=QWRtaW5EZXYxMjM=
ADMIN_PASSWORD_PEPPER=ZGV2cGVwcGVyMTIz
 